<body>
<div class="container">
  <div class="row d-flex justify-content-center">
    <mat-card style="margin-top: 200px" class="login-card">
      <mat-card-title class="mb-4 card-title text-center "><b>Inciar sesion</b></mat-card-title>
      <mat-card-content>
        <form [formGroup]="FormGroup" class="d-flex flex-column">
          <mat-form-field class="mb-3">
            <input matInput formControlName="username" placeholder="Usuario" />
            <mat-error *ngIf="hasError('username', 'required')">
              Por favor, ingrese su cuenta de usuario
            </mat-error>
            <mat-error *ngIf="hasError('username', 'minlength')">
              La cuenta debe ser de al menos 4 caracteres
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mb-4">
            <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" placeholder="Contraseña">
            <mat-error *ngIf="hasError('password', 'required')">
              Por favor, ingrese su contraseña
            </mat-error>
            <mat-error *ngIf="hasError('password', 'minlength')">
              La contraseña debe ser de al menos 4 caracteres
            </mat-error>
            <mat-icon matSuffix (click)="togglePasswordVisibility()">
              {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="authorize()">Iniciar sesión</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</body>


