<div class="background-container">
  <div class="container background-content text-center">
    <span class="title">Bienvenido a mi <span style="color: #5577ff">portal.</span></span>
    <div class="my-2" style="color: white; font-size: 16px">Nos podrías indicar tu nombre.</div>
    <button class="transparent-button mb-2" (click)="openDlg()">Escribe tu nombre.</button>

    <div *ngIf="nombre" style="color: white; font-size: 20px">
     El nombre ingresado es {{nombre | cambioLetras }}
    </div>
  </div>
</div>
