.not-found-card {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  background-color: #f0f0f0;
}

.not-found-title {
  font-size: 24px;
}

.not-found-description {
  font-size: 16px;
  margin-top: 20px;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}
